# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Alexey\IdeaProjects\java-patterns\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# Intellij
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

# java
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
